@model  Estagios.Models.Estagio

@{
    ViewData["Title"] = "Visualização de estágio";
}

<h1>Discente</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="estagio-tab" data-bs-toggle="tab" data-bs-target="#estagio" type="button" role="tab" aria-controls="estagio" aria-selected="true">Estágio</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="discente-tab" data-bs-toggle="tab" data-bs-target="#discente" type="button" role="tab" aria-controls="discente" aria-selected="false">Discente</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="concedente-tab" data-bs-toggle="tab" data-bs-target="#concedente" type="button" role="tab" aria-controls="concedente" aria-selected="false">Concedente</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="supervisor-tab" data-bs-toggle="tab" data-bs-target="#supervisor" type="button" role="tab" aria-controls="supervisor" aria-selected="false">Supervisor</button>
    </li>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="orientador-tab" data-bs-toggle="tab" data-bs-target="#orientador" type="button" role="tab" aria-controls="orientador" aria-selected="false">Orientador</button>
    </li>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="atividades-tab" data-bs-toggle="tab" data-bs-target="#atividades" type="button" role="tab" aria-controls="atividades" aria-selected="false">Atividades</button>
    </li>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="documentos-tab" data-bs-toggle="tab" data-bs-target="#documentos" type="button" role="tab" aria-controls="documentos" aria-selected="false">Documentos em anexo</button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="estagio" role="tabpanel" aria-labelledby="estagio-tab">
        <div class="row g-3">
            <h2>Dados do estágio</h2>

            <div class="col-md-6">
                <span>Tipo de estágio</span>
                <span>@Html.DisplayFor(model => model.TipoEstagio)</span>
            </div>

            <div class="col-md-6">
                <span>Tipo de concedente</span>
                <span>@Html.DisplayFor(model => model.TipoConcedente)</span>

            </div>

            <div class="col-md-6">
                <span>Tipo de remuneração</span>
                <span>@Html.DisplayFor(model => model.TipoRemuneracao)</span>
            </div>

            <div class="col-md-6">
                <label for="agenteIntegracao">Agente de Integração</label>
                <span>@Html.DisplayFor(model => model.AgenteIntegracao)</span>
            </div>

            <div class="col-md-6">
                <label for="startDate">Data de início de estágio</label>
                <span>@Html.DisplayFor(model => model.DataInicioEstagio)</span>
            </div>

            <div class="col-md-6">
                <label for="endDate">Data de termino de estágio</label>
                <span>@Html.DisplayFor(model => model.DataTerminoEstagio)</span>
            </div>

            <div class="col-12">
                <h2>Situação do estágio</h2>
                <span>@Html.DisplayFor(model => model.SituacaoEstagio)</span>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="discente" role="tabpanel" aria-labelledby="discente-tab">
        <div class="row g-3">
            <div class="col-12">
                <h2>Dados do discente</h2>
                <label for="nomeDiscente">Nome</label>
                <span>@Html.DisplayFor(model => model.NomeDiscente)</span>
            </div>

            <div class="col-12">
                <label for="cpf">CPF</label>
                <span>@Html.DisplayFor(model => model.CPF)</span>
            </div>

            <div class="col-12">
                <label for="endereco">Endereço</label>
                <span>@Html.DisplayFor(model => model.Endereco)</span>
            </div>
            <div class="col-12">
                <label for="dataNascimento">Data de nascimento</label>
                <span>@Html.DisplayFor(model => model.DataNascimento)</span>
            </div>
            <div class="col-12">
                <label for="matricula">Matrícula</label>
                <span>@Html.DisplayFor(model => model.Matricula)</span>
            </div>
            <div class="col-12">
                <label for="Curso">Curso</label>
                <span>@Html.DisplayFor(model => model.Curso)</span>
            </div>
            <div class="col-12">
                <span>Formando</span>
                <span>@Html.DisplayFor(model => model.Formando)</span>
            </div>

            <div class="col-12">
                <label for="ira">IRA</label>
                <span>@Html.DisplayFor(model => model.Ira)</span>
            </div>

            <div class="col-12">
                <label for="email">Email</label>
                <span>@Html.DisplayFor(model => model.Email)</span>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="concedente" role="tabpanel" aria-labelledby="concedente-tab">
        <h2>Dados da empresa concedente</h2>
        <div class="row g-3">
            <div class="col-12">
                <label for="setorEstagio">Setor do estágio</label>
                <span>@Html.DisplayFor(model => model.Setor)</span>
            </div>

            <div class="col-12">
                <label for="nomeEmpresa">Nome da empresa</label>
                <span>@Html.DisplayFor(model => model.NomeEmpresa)</span>
            </div>

            <div class="col-12">
                <label for="nomeResponsavelEmpresa">Nome do responsável pela empresa</label>
                <span>@Html.DisplayFor(model => model.NomeResponsavelEmpresa)</span>
            </div>

        </div>
    </div>

    <div class="tab-pane fade" id="supervisor" role="tabpanel" aria-labelledby="supervisor-tab">
        <h2>Dados do supervisor de estágio</h2>
        <div class="row g-3">
            <div class="col-12">
                <label for="nomeSupervisor">Nome do supervisor</label>
                <span>@Html.DisplayFor(model => model.NomeSupervisor)</span>
            </div>

            <div class="col-12">
                <label for="funcaoSupervisor">Função</label>
                <span>@Html.DisplayFor(model => model.FuncaoSupervisor)</span>
            </div>

            <div class="col-12">
                <label for="formacaoSupervisor">Formação profissional</label>
                <span>@Html.DisplayFor(model => model.FormacaoSupervisor)</span>
            </div>

            <div class="col-12">
                <label for="email">Email</label>
                <span>@Html.DisplayFor(model => model.EmailSupervisor)</span>
            </div>

        </div>
    </div>

    <div class="tab-pane fade" id="orientador" role="tabpanel" aria-labelledby="orientador-tab">
        <h2>Dados do orientador</h2>
        <div class="row g-3">
            <div class="col-12">
                <label for="disciplina">Disciplina</label>
                <span>@Html.DisplayFor(model => model.Disciplina)</span>
            </div>

            <div class="col-12">
                <label for="nomeOrientador">Nome</label>
                <span>@Html.DisplayFor(model => model.Orientador)</span>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="atividades" role="tabpanel" aria-labelledby="atividades-tab">
        <h2>Dados das atividades</h2>
        <div class="row g-3">
            <div class="col-12">
                <span>@Html.DisplayFor(model => model.AtividadeText)</span>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="documentos" role="tabpanel" aria-labelledby="documentos-tab">
        <div class="row g-3">
            <div class="col-12">
                <h2>Anexar relatório</h2>
            </div>
            <div class="col-12">
                <span>Relatório aqui</span>
            </div>
        </div>
    </div>
</div>

