@model IEnumerable<Estagios.Models.Estagio>

@{
    ViewData["Title"] = "Visualização de estágios";
}

<h1>Meus estágios</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="estagio-tab" data-bs-toggle="tab" data-bs-target="#estagio" type="button" role="tab" aria-controls="estagio" aria-selected="true">Estágio</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="discente-tab" data-bs-toggle="tab" data-bs-target="#discente" type="button" role="tab" aria-controls="discente" aria-selected="false">Discente</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="concedente-tab" data-bs-toggle="tab" data-bs-target="#concedente" type="button" role="tab" aria-controls="concedente" aria-selected="false">Concedente</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="supervisor-tab" data-bs-toggle="tab" data-bs-target="#supervisor" type="button" role="tab" aria-controls="supervisor" aria-selected="false">Supervisor</button>
    </li>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="orientador-tab" data-bs-toggle="tab" data-bs-target="#orientador" type="button" role="tab" aria-controls="orientador" aria-selected="false">Orientador</button>
    </li>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="atividades-tab" data-bs-toggle="tab" data-bs-target="#atividades" type="button" role="tab" aria-controls="atividades" aria-selected="false">Atividades</button>
    </li>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="documentos-tab" data-bs-toggle="tab" data-bs-target="#documentos" type="button" role="tab" aria-controls="documentos" aria-selected="false">Documentos em anexo</button>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="estagio" role="tabpanel" aria-labelledby="estagio-tab">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Visualizar estágio</th>
                    <th scope="col">Tipo de estágio</th>
                    <th scope="col">Tipo de concedente</th>
                    <th scope="col">Tipo de remuneração</th>
                    <th scope="col">Agente de integração</th>
                    <th scope="col">Data de início do estágio</th>
                    <th scope="col">Data de término do estágio</th>
                    <th scope="col">Situação do estágio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">
                            @Html.DisplayFor(modelItem => item.Id)
                        </th>
                        <td>
                            <a asp-area="" asp-controller="Estagio" asp-action="Get" asp-route-id="@item.Id">
                                Ver
                            </a>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.TipoEstagio)</td>
                        <td>@Html.DisplayFor(modelItem => item.TipoConcedente)</td>
                        <td>@Html.DisplayFor(modelItem => item.TipoRemuneracao)</td>
                        <td>@Html.DisplayFor(modelItem => item.AgenteIntegracao)</td>
                        <td>@Html.DisplayFor(modelItem => item.DataInicioEstagio)</td>
                        <td>@Html.DisplayFor(modelItem => item.DataTerminoEstagio)</td>
                        <td>@Html.DisplayFor(modelItem => item.SituacaoEstagio)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="discente" role="tabpanel" aria-labelledby="discente-tab">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Data de nascimento</th>
                    <th scope="col">Matrícula</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Formando</th>
                    <th scope="col">IRA</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                        <td>@Html.DisplayFor(modelItem => item.NomeDiscente)</td>
                        <td>@Html.DisplayFor(modelItem => item.CPF)</td>
                        <td>@Html.DisplayFor(modelItem => item.Endereco)</td>
                        <td>@Html.DisplayFor(modelItem => item.DataNascimento)</td>
                        <td>@Html.DisplayFor(modelItem => item.Matricula)</td>
                        <td>@Html.DisplayFor(modelItem => item.Curso)</td>
                        <td>@Html.DisplayFor(modelItem => item.Formando)</td>
                        <td>@Html.DisplayFor(modelItem => item.Ira)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="concedente" role="tabpanel" aria-labelledby="concedente-tab">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Setor do estágio</th>
                    <th scope="col">Nome da empresa</th>
                    <th scope="col">Nome do responsável pela empresa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                        <td>@Html.DisplayFor(modelItem => item.Setor)</td>
                        <td>@Html.DisplayFor(modelItem => item.NomeEmpresa)</td>
                        <td>@Html.DisplayFor(modelItem => item.NomeResponsavelEmpresa)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="supervisor" role="tabpanel" aria-labelledby="supervisor-tab">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Função</th>
                    <th scope="col">Formação profissional</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                        <td>@Html.DisplayFor(modelItem => item.NomeSupervisor)</td>
                        <td>@Html.DisplayFor(modelItem => item.FuncaoSupervisor)</td>
                        <td>@Html.DisplayFor(modelItem => item.FormacaoSupervisor)</td>
                        <td>@Html.DisplayFor(modelItem => item.EmailSupervisor)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="orientador" role="tabpanel" aria-labelledby="orientador-tab">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Disciplina</th>
                    <th scope="col">Orientador</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                        <td>@Html.DisplayFor(modelItem => item.Disciplina)</td>
                        <td>@Html.DisplayFor(modelItem => item.Orientador)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="atividades" role="tabpanel" aria-labelledby="atividades-tab">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Atividades realizadas</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                        <td>@Html.DisplayFor(modelItem => item.AtividadeText)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="documentos" role="tabpanel" aria-labelledby="documentos-tab">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Relatório</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                        <th>Relatorio</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
